<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
</head>
<script th:src="@{/jquery/jquery-3.4.1.js}">
</script>
<script th:inline="none">
    layui.use(['tree', 'util'], function() {
        var tree = layui.tree
            , layer = layui.layer
            , util = layui.util
            //模拟数据1
            ,data1 = [{
                "Type": 3,
                "ParmBaseDelayBind": 0,
                "check": ["", [0, -1],
                    [
                        [-2, 2, "UINT2", 1],
                        [0, -3]
                    ]
                ],
                "ctlmsg": [],
                "Data": [{
                    "smsg": [81, 71, 83, 13],
                    "realparse": [
                        ["1", 1, "输入电压", "V", 1, 0, 3, 1, 5, "SFLOAT", 1],
                        ["2", 1, "输入频率", "HZ", 1, 0, 3, 7, 4, "SFLOAT", 1],
                        ["3", 1, "输出电压", "V", 1, 0, 3, 12, 5, "SFLOAT", 1],
                        ["4", 1, "输出频率", "HZ", 1, 0, 3, 18, 4, "SFLOAT", 1],
                        ["5", 1, "输出电流", "A", 1, 0, 3, 23, 5, "SFLOAT", 1],
                        ["6", 1, "输出负载", "%", 1, 0, 3, 29, 3, "SFLOAT", 1],
                        ["7", 1, "母线正电压", "V", 1, 0, 3, 33, 5, "SFLOAT", 1],
                        ["8", 1, "母线负电压", "V", 1, 0, 3, 39, 5, "SFLOAT", 1],
                        ["9", 1, "电池电压", "V", 1, 0, 3, 45, 5, "SFLOAT", 1],
                        ["10.1", 2, "市电状态", "", 1, 0, 1, 65, 1, "UINT2", 1, [0, 4],
                            [1, 5]
                        ],
                        ["10.2", 2, "电池电压状态", "", 1, 0, 1, 66, 1, "UINT1", 1, [0, 4],
                            [1, 5]
                        ],
                        ["10.3", 2, "旁路工作状态", "", 1, 0, 1, 67, 1, "UINT2", 1, [0, 4],
                            [1, 5]
                        ],
                        ["10.4", 2, "UPS 状态 ", "", 1, 0, 1, 68, 1, "UINT2", 1, [0, 4],
                            [1, 5]
                        ],
                        ["10.5", 2, "紧急关机（EPO） ", "", 1, 0, 1, 69, 1, "UINT2", 1, [0, 4],
                            [1, 5]
                        ]
                    ],
                    "alarmparse": [
                        [1, "10.1", "StatusAlarm", [
                            [],
                            [4, "市电正常", 0],
                            [5, "市电异常", 4]
                        ],
                            [], 1
                        ],
                        [2, "10.2", "StatusAlarm", [
                            [],
                            [4, "电池电压正常", 0],
                            [5, "电池电压低", 4]
                        ],
                            [], 1
                        ],
                        [3, "10.3", "StatusAlarm", [
                            [],
                            [4, "旁路工作消失", 0],
                            [5, "旁路工作发生", 4]
                        ],
                            [], 1
                        ],
                        [4, "10.4", "StatusAlarm", [
                            [],
                            [4, "UPS正常", 0],
                            [5, " UPS 故障 ", 4]
                        ],
                            [], 1
                        ],
                        [5, "10.5", "StatusAlarm", [
                            [],
                            [4, "紧急关机消失", 0],
                            [5, "紧急关机发生", 4]
                        ],
                            [], 1
                        ],
                        [6, "1", "AnalogAlarm", [
                            [7, 180, 280, 300, 1.5],
                            [0, "输入电压正常或告警恢复", 0],
                            [1, "输入电压下下限告警", 4],
                            [2, "输入电压下限告警", 3],
                            [3, "输入电压上限告警", 3],
                            [4, "输入电压上上限告警", 4]
                        ],
                            ["1"], 1
                        ],
                        [7, "3", "AnalogAlarm", [
                            [7, 180, 280, 300, 1.5],
                            [0, "输出电压正常或告警恢复", 0],
                            [1, "输出电压下下限告警", 4],
                            [2, "输出电压下限告警", 3],
                            [3, "输出电压上限告警", 3],
                            [4, "输出电压上上限告警", 4]
                        ],
                            ["3"], 1
                        ]
                    ]
                }, {
                    "smsg": [81, 51, 80, 86, 13],
                    "realparse": [
                        ["11", 1, "R相输入电压", "V", 1, 0, 3, 1, 5, "SFLOAT", 1],
                        ["12", 1, "S相输入电压", "V", 1, 0, 3, 7, 5, "SFLOAT", 1],
                        ["13", 1, "T相输入电压", "V", 1, 0, 3, 13, 5, "SFLOAT", 1],
                        ["14", 1, "RS相市电电压", "V", 1, 0, 3, 19, 5, "SFLOAT", 1],
                        ["15", 1, "ST相市电电压", "V", 1, 0, 3, 25, 5, "SFLOAT", 1],
                        ["16", 1, "TR相市电电压", "V", 1, 0, 3, 31, 5, "SFLOAT", 1]
                    ],
                    "alarmparse": []
                }, {
                    "smsg": [81, 51, 80, 67, 13],
                    "realparse": [
                        ["17", 1, "R相输入电流", "A", 1, 0, 3, 1, 5, "SFLOAT", 1],
                        ["18", 1, "S相输入电流", "A", 1, 0, 3, 7, 5, "SFLOAT", 1],
                        ["19", 1, "T相输入电流", "A", 1, 0, 3, 13, 5, "SFLOAT", 1]
                    ],
                    "alarmparse": []
                }, {
                    "smsg": [81, 51, 79, 86, 13],
                    "realparse": [
                        ["20", 1, "R相输出电压", "V", 1, 0, 3, 1, 5, "SFLOAT", 1],
                        ["21", 1, "S相输出电压", "V", 1, 0, 3, 7, 5, "SFLOAT", 1],
                        ["22", 1, "T相输出电压", "V", 1, 0, 3, 13, 5, "SFLOAT", 1],
                        ["23", 1, "RS相输出电压", "V", 1, 0, 3, 19, 5, "SFLOAT", 1],
                        ["24", 1, "ST相输出电压", "V", 1, 0, 3, 25, 5, "SFLOAT", 1],
                        ["25", 1, "TR相输出电压", "V", 1, 0, 3, 31, 5, "SFLOAT", 1]
                    ],
                    "alarmparse": []
                }, {
                    "smsg": [81, 51, 79, 67, 13],
                    "realparse": [
                        ["26", 1, "R相输出电流", "A", 1, 0, 3, 1, 5, "SFLOAT", 1],
                        ["27", 1, "S相输出电流", "A", 1, 0, 3, 7, 5, "SFLOAT", 1],
                        ["28", 1, "T相输出电流", "A", 1, 0, 3, 13, 5, "SFLOAT", 1]
                    ],
                    "alarmparse": []
                }, {
                    "smsg": [81, 51, 89, 86, 13],
                    "realparse": [
                        ["29", 1, "R相旁路电压", "V", 1, 0, 3, 1, 5, "SFLOAT", 1],
                        ["30", 1, "S相旁路电压", "V", 1, 0, 3, 7, 5, "SFLOAT", 1],
                        ["31", 1, "T相旁路电压", "V", 1, 0, 3, 13, 5, "SFLOAT", 1],
                        ["32", 1, "RS相旁路电压", "V", 1, 0, 3, 19, 5, "SFLOAT", 1],
                        ["33", 1, "ST相旁路电压", "V", 1, 0, 3, 25, 5, "SFLOAT", 1],
                        ["34", 1, "TR相旁路电压", "V", 1, 0, 3, 31, 5, "SFLOAT", 1]
                    ],
                    "alarmparse": []
                }, {
                    "smsg": [81, 51, 89, 67, 13],
                    "realparse": [
                        ["35", 1, "R相旁路电流", "A", 1, 0, 3, 1, 5, "SFLOAT", 1],
                        ["36", 1, "S相旁路电流", "A", 1, 0, 3, 7, 5, "SFLOAT", 1],
                        ["37", 1, "T相旁路电流", "A", 1, 0, 3, 13, 5, "SFLOAT", 1]
                    ],
                    "alarmparse": []
                }, {
                    "smsg": [81, 66, 86, 13],
                    "realparse": [
                        ["38", 1, "电池电压", "V", 1, 0, 3, 1, 5, "SFLOAT", 1],
                        ["39", 2, "电池数量", "个", 0, 0, 2, 7, 2, "INT2", 1],
                        ["40", 2, "电池组数量", "个", 0, 0, 2, 10, 2, "INT2", 1],
                        ["41", 2, "电池剩余时间", "分", 0, 0, 2, 17, 3, "INT2", 1]
                    ],
                    "alarmparse": []
                }, {
                    "smsg": [81, 77, 79, 68, 13],
                    "realparse": [
                        ["42", 2, "UPS模式", "", 1, 0, 2, 1, 1, "UINT1", 1, [
                            [80, 1],
                            [83, 2],
                            [89, 3],
                            [76, 4],
                            [66, 5],
                            [84, 6],
                            [70, 7],
                            [69, 8],
                            [67, 9],
                            [68, 10]
                        ]]
                    ],
                    "alarmparse": [
                        [0, "42", "StatusAlarm", [
                            [],
                            [1, "上电模式", 0],
                            [2, "待机模式", 0],
                            [3, "旁路模式", 0],
                            [4, "市电模式", 0],
                            [5, "电池模式", 0],
                            [6, "电池测试模式", 0],
                            [7, "错误模式", 0],
                            [8, "HE/ECO模式", 0],
                            [9, "CVCF模式", 0],
                            [10, "关机模式", 0]
                        ],
                            ["42"], 1
                        ]
                    ]
                }]
            }]

        //开启节点操作图标
        tree.render({
            elem: '#test9'
            ,data: data1
            ,edit: ['add', 'update', 'del'] //操作节点的图标
            ,click: function(obj){
                layer.msg(JSON.stringify(obj.data));
            }
        });

        $("#json-renderer").jsonViewer(data1);
    });

</script>
<body>
<div id="test9" class="demo-tree demo-tree-box" style="width: 200px; height: 300px; overflow: scroll;"></div>

<div class="jq22-container">
    <div class="container"  style="margin-top: 1em;">
        <div class="row">
            <pre id="json-renderer"></pre>
        </div>
    </div>
</div>
</body>
</html>