<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/layui/css/layui.css}" rel="stylesheet" />
</head>
<script th:src="@{/jquery/jquery-3.4.1.js}"></script>
<script  th:inline="none">
    layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#table'
            ,url:'/monitorpoint/queryAllByLimit'
            ,toolbar: '#tabletoolBar' //开启头部工具栏，并为其绑定左侧模板
            ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,title: '监测点信息表'
            ,cols: [[
                {field:'id', title:'监测点ID', width:120, fixed: 'left'}
                ,{field:'lineName', title:'线路名称', width:150}
                ,{field:'lineCode', title:'线路编码', width: 100}
                ,{field:'baseStationCode', title:'基站编码', width: 100}
                ,{field:'sensorType', title:'监测点类型', width: 120,templet: function (d) {
                   switch (d.sensorType) {
                       case 1:
                           return "风";
                       case 2:
                           return "雨";
                       case 3:
                           return "雪";
                       case 4:
                           return "异物";
                   }
                }
                }
                ,{field:'km', title:'千米数', width: 80}
                ,{field:'meter', title:'米数', width:80}
                ,{field:'ableFlag', title:'是否启用',templet: function (d) {
                    if(d.ableFlag==1){
                        return "启用"
                    }
                    else {
                        return "不启用";
                    }
                },width:80}
                ,{field:'monitorPointName', title:'监测点名称', width: 110}
                ,{field:'kmPrefix', title:'公里标前缀', width: 110}
                ,{fixed: 'right', title:'操作', toolbar: '#tableBar', width:150}
            ]]
            ,id:'tableReload'
            ,page: true
        });

        //头工具栏事件
        table.on('toolbar(tableFilter)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'add':
                    layer.open({
                        type: 2,
                        title:"新增",
                        area:['50%','80%'],
                        content: '/monitorpoint/forwardAddAndEdit',
                        cancel: function(index, layero){
                            //执行重载
                            table.reload('tableReload', {
                                page: {
                                    curr: 1 //重新从第 1 页开始
                                }
                            }, 'data');
                            layer.close(index)
                            return false;
                        }
                    });
                    break;
                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });

        //监听行工具事件
        table.on('tool(tableFilter)', function(obj){
            var data = obj.data;
            debugger;
            //console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    $.ajax({
                        url: "/monitorpoint/delete?id="+data.id,
                        type: 'DELETE',
                        contentType: 'application/x-www-form-urlencoded',
                        success: function (result) {
                            if (result) {
                                layer.alert("删除成功");
                                //执行重载
                                table.reload('tableReload', {
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                }, 'data');
                            } else {
                                layer.alert("删除失败");
                            }
                        }
                    });
                });
            } else if(obj.event === 'edit'){
                layer.open({
                    type: 2,
                    title:"编辑",
                    area:['50%','80%'],
                    content: '/monitorpoint/forwardAddAndEdit?id='+data.id+"",
                    cancel: function(index, layero){
                        //执行重载
                        table.reload('tableReload', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        }, 'data');
                        layer.close(index)
                        return false;
                    }
                });
            }
        });
    });
</script>
<body>
<table class="layui-hide" id="table" lay-filter="tableFilter"></table>
<script type="text/html" id="tabletoolBar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="add">新增</button>
    </div>
</script>

<script type="text/html" id="tableBar">
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
</body>
</html>